{% extends 'layout.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="top-container mb-4 row g-0 rounded-4">
            <div class="col-8 border-end border-3">
                <div class="row justify-content-between">
                    <div class="col p-4">Траты BYN</div>
                    <div class="col p-4">Доход BYN</div>
                    <div class="col p-4">Нетто $</div>
                </div>
                <div class="row">
                    <div class="col p-4">Виды графиков</div>
                </div>
            </div>
            <div class="col p-4">
                 Последние транзакции
            </div>
        </div>
        <div class="categories-container row">
            <div class="col">
                <div class="category-card p-4 rounded-4">Категория 1</div>
            </div>
            <div class="col">
                <div class="category-card p-4 rounded-4">Категория 2</div>
            </div>
            <div class="col">
                <div class="category-card p-4 rounded-4">Категория 3</div>
            </div>
            <div class="col">
                <div class="category-card p-4 rounded-4">Категория 4</div>
            </div>
        </div>
    </div>
{% endblock %}
